.body {
  background-color: #212529;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;

  max-width: 130rem;
  margin: 0 auto;
  border-radius: 3rem;
  box-shadow: 5px 5px 10px 5px rgb(255, 255, 255, 0.1);
  height: 236rem;
  margin-bottom: 4rem;
}

.list-for-xp {
  list-style: disc;
  line-height: 1.5;
  color: rgb(176, 173, 173);
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  margin-bottom: 3rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  margin-bottom: 6rem;
}

Header {
  margin-bottom: -1rem;
}
.body > div {
  flex-direction: row;
}
.box1 {
  margin-top: 2rem;
  /* margin-left: 1rem; */
  grid-column: 2 / 8;
  grid-row: 1 / 4;
}
.box2 {
  margin-top: 3rem;
  grid-column: 10 / 20;
}
.introduction {
  padding: 2rem;
  padding-bottom: 10rem;
  background-color: #343a40;
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.2);
  border-radius: 2rem;
  font-size: 1.8rem;
  color: rgb(176, 173, 173);
}

.welcome,
.us {
  font-size: 4rem;
  color: #f9690e;
}

.about {
  display: flex;
  border-radius: 2rem;
  padding: 2rem;
  background-color: #343a40;
  font-size: 1.8rem;
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.2);
  grid-column: 2 / 8;
}
.about > div {
  flex-direction: row;
}
.steps {
  color: white;
  /* margin-top: 1rem; */
}
.all-steps {
  font-size: 2.8rem;
  color: #f9690e;
  font-weight: bolder;
  text-align: center;
}
ul > li {
  font-size: medium;
}

.youtube-link {
  grid-column: 11/19;
  margin-top: -5rem;
}

.about-us {
  padding: 4rem;
  background-color: #343a40;
  color: rgb(176, 173, 173);
  font-size: 1.8rem;
  border-radius: 2rem;
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.2);
}

.us-h5 {
  font-size: 1.8rem;
}

.us {
  font-size: 3.2rem;
  color: rgb(249, 105, 14);
}

a {
  text-decoration: none;
  color: white;
}

.info-for-us {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #343a40;
  border-radius: 3rem;
  box-shadow: 6px 6px 6px 6px rgb(0, 0, 0, 0.2);
  margin-bottom: 10rem;
}

.container-for-us {
  padding: 5rem;
  margin-bottom: 10rem;
}
.our-team-h1 {
  margin-top: -2rem;
  text-align: center;
  font-size: 4.2rem;
  margin-bottom: 2rem;
  color: rgb(176, 173, 173);
}

.members {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4rem;
}

.member-container {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  height: 30rem;
  background-color: #212529;
  border-radius: 3rem;
  box-shadow: 5px 5px 10px 5px rgb(255, 255, 255, 0.1);
}

.right-grid {
  grid-template-columns: 1fr 0.4fr;
}

.img-svg {
  width: 18rem;
  height: 18rem;
  justify-self: center;
  align-self: center;
  background-color: #343a40;
  border-radius: 50%;
}

.member-name-h1 {
  color: rgb(249, 105, 14);
}

.info-us-p {
  padding: 5rem;
  /* background-color: rgb(249, 105, 14); */
  border-left: 2px solid #343a40;
  font-size: 2rem;
  color: rgb(120, 119, 119);
  line-height: 1.2;
}

.right-border {
  border-right: 2px solid #343a40;
}

.all-projects-container {
  max-width: 120rem;
  background-color: #343a40;
  margin: 0 auto;
  border-radius: 3rem;
  padding: 4rem;
}
.all-projects-h1 {
  text-align: center;
  font-size: 3.2rem;
  color: rgb(249, 105, 14);
  margin-bottom: 1.5rem;
}

.all-projects-p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: rgb(176, 173, 173);
}
